.nav {
    position: fixed;
    z-index: 999999;
    background-color: #fff;
    top: -500px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem; }
    .nav__title {
      font-family: vivaldi, serif;
      font-size: 5rem;
      letter-spacing: 2px;
      margin-left: 2rem;
      text-decoration: none;
      color: #111;
      font-weight: bolder; }
    .nav__links {
      width: 60%;
      display: flex;
      justify-content: space-evenly; }
      @media only screen and (max-width: 56.25em) {
        .nav__links .hide {
          display: none; } }
      .nav__links-item {
        text-decoration: none;
        color: #646464;
        font-size: 2rem; }
        .nav__links-item:hover {
          color: #111;
          font-weight: 800; }
      @media only screen and (max-width: 46.8em) {
        .nav__links {
          width: 70%;
          visibility: hidden; } }
      @media only screen and (max-width: 37.5em) {
        .nav__links {
          width: 100%;
          visibility: hidden;
          display: none; } }
  
  .nav-mob {
    display: none; }
    @media only screen and (max-width: 46.8em) {
      .nav-mob {
        display: contents; } }